tutorials/results/*
tutorials/All_Wassal/data/*
trust/strategies/__pycache__/*
trust/utils/__pycache__/*
trust/utils/models/__pycache__/*
tutorials/All_Wassal/wassal_pneumonia.py
output_statistics.csv
ALcurve.png
trust/strategies/wassal_multiclass.py
cifar10_simplex_distribution_class_0.png
cifar10_simplex_distribution_class_1.png
cifar10_simplex_distribution_class_2.png
cifar10_simplex_distribution_class_3.png
cifar10_simplex_distribution_class_4.png
cifar10_simplex_distribution_class_5.png
cifar10_simplex_distribution_class_6.png
cifar10_simplex_distribution_class_7.png
cifar10_simplex_distribution_class_8.png
cifar10_simplex_distribution_class_9.png
pneumo_simplex_distribution_class_0.png
pneumo_simplex_distribution_class_1.png
data/*

data/train_32x32.mat
data/cifar-10-batches-py/batches.meta
*.pyc
svhn_simplex_distribution_class_0.png
svhn_simplex_distribution_class_1.png
svhn_simplex_distribution_class_2.png
svhn_simplex_distribution_class_3.png
svhn_simplex_distribution_class_4.png
svhn_simplex_distribution_class_5.png
svhn_simplex_distribution_class_6.png
svhn_simplex_distribution_class_7.png
svhn_simplex_distribution_class_8.png
svhn_simplex_distribution_class_9.png
.gitignore
Miniconda3-latest-Linux-x86_64.sh
.gitignore
trust/strategies/__pycache__/__init__.cpython-38.pyc
trust/strategies/__pycache__/scmi.cpython-38.pyc
trust/strategies/__pycache__/smi.cpython-38.pyc
trust/strategies/__pycache__/strategy.cpython-38.pyc
trust/__pycache__/__init__.cpython-38.pyc
